In [1]:
import pandas as pd

# Load the datasets
customers = pd.read_csv('Customers.csv')
products = pd.read_csv('Products.csv')
transactions = pd.read_csv('Transactions.csv')

In [2]:
# Preview the data
print(customers.head())
print(products.head())
print(transactions.head())

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15
  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31
  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue   Price
0      300.68  300.68
1      300.68  300.68
2      300.68  300.68
3      601.36  300.68
4      902.04  300.68

In [3]:
# Check data types, missing values, and summary statistics
print(customers.info())
print(customers.describe(include='all'))
print('---------------------------------------------------------------------------------------------------------------')
print(products.info())
print(products.describe(include='all'))
print('---------------------------------------------------------------------------------------------------------------')
print(transactions.info())
print(transactions.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB
None
       CustomerID      CustomerName         Region  SignupDate
count         200               200            200         200
unique        200               200              4         179
top         C0001  Lawrence Carroll  South America  2024-11-11
freq            1                 1             59           3
---------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None
       ProductID            ProductName Category       Price
count        100                    100      100  100.000000
unique       100                     66        4         NaN
top         P001  ActiveWear Smartwatch    Books         NaN
freq           1                      4       26         NaN
mean         NaN                    NaN      NaN  267.551700
std          NaN                    NaN      NaN  143.219383
min          NaN                    NaN      NaN   16.080000
25%          NaN                    NaN      NaN  147.767500
50%          NaN                    NaN      NaN  292.875000
75%          NaN                    NaN      NaN  397.090000
max          NaN                    NaN      NaN  497.760000
---------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB
None
       TransactionID CustomerID ProductID      TransactionDate     Quantity  \
count           1000       1000      1000                 1000  1000.000000
unique          1000        199       100                 1000          NaN
top           T00001      C0109      P059  2024-08-25 12:38:23          NaN
freq               1         11        19                    1          NaN
mean             NaN        NaN       NaN                  NaN     2.537000
std              NaN        NaN       NaN                  NaN     1.117981
min              NaN        NaN       NaN                  NaN     1.000000
25%              NaN        NaN       NaN                  NaN     2.000000
50%              NaN        NaN       NaN                  NaN     3.000000
75%              NaN        NaN       NaN                  NaN     4.000000
max              NaN        NaN       NaN                  NaN     4.000000

         TotalValue       Price
count   1000.000000  1000.00000
unique          NaN         NaN
top             NaN         NaN
freq            NaN         NaN
mean     689.995560   272.55407
std      493.144478   140.73639
min       16.080000    16.08000
25%      295.295000   147.95000
50%      588.880000   299.93000
75%     1011.660000   404.40000
max     1991.040000   497.76000

In [4]:
transactions['TransactionDate'] = pd.to_datetime(transactions['TransactionDate'])
customers['SignupDate'] = pd.to_datetime(customers['SignupDate'])

In [5]:
# Assuming you have the customers, products, and transactions DataFrames already loaded
transactions_customers = transactions.merge(customers, on="CustomerID")
merged_data = transactions_customers.merge(products, on="ProductID")

In [6]:
merged_data

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics,300.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00630,C0031,P093,2024-10-08 23:58:14,2,609.88,304.94,Tina Miller,South America,2024-04-11,TechPro Vase,Home Decor,304.94
996,T00672,C0165,P044,2024-07-28 00:09:49,4,75.28,18.82,Juan Mcdaniel,South America,2022-04-09,ActiveWear Running Shoes,Clothing,18.82
997,T00711,C0165,P044,2024-06-11 15:51:14,4,75.28,18.82,Juan Mcdaniel,South America,2022-04-09,ActiveWear Running Shoes,Clothing,18.82
998,T00878,C0165,P044,2024-09-24 21:15:21,3,56.46,18.82,Juan Mcdaniel,South America,2022-04-09,ActiveWear Running Shoes,Clothing,18.82
999,T00157,C0169,P044,2024-11-09 09:07:36,2,37.64,18.82,Jennifer Shaw,South America,2023-04-13,ActiveWear Running Shoes,Clothing,18.82

In [7]:
import pandas as pd
from datetime import datetime


# Convert date columns to datetime format
merged_data['TransactionDate'] = pd.to_datetime(merged_data['TransactionDate'])
merged_data['SignupDate'] = pd.to_datetime(merged_data['SignupDate'])

# Calculate customer tenure (days since signup)
merged_data['CustomerTenure'] = (datetime.now() - merged_data['SignupDate']).dt.days

# Feature 1: Total Spend per Customer
total_spend = merged_data.groupby('CustomerID')['TotalValue'].sum().reset_index()
total_spend.columns = ['CustomerID', 'TotalSpend']

# Feature 2: Purchase Frequency per Customer
purchase_frequency = merged_data.groupby('CustomerID')['TransactionID'].count().reset_index()
purchase_frequency.columns = ['CustomerID', 'PurchaseFrequency']

# Feature 3: Average Transaction Value per Customer
avg_transaction_value = merged_data.groupby('CustomerID')['TotalValue'].mean().reset_index()
avg_transaction_value.columns = ['CustomerID', 'AvgTransactionValue']

# Feature 4: Recency (days since last purchase)
last_purchase_date = merged_data.groupby('CustomerID')['TransactionDate'].max().reset_index()
last_purchase_date.columns = ['CustomerID', 'LastPurchaseDate']
last_purchase_date['Recency'] = (datetime.now() - last_purchase_date['LastPurchaseDate']).dt.days

# Feature 5: Most Frequent Product Category (use mode or other aggregate functions)
category_preference = merged_data.groupby('CustomerID')['Category'].agg(lambda x: x.mode()[0]).reset_index()
category_preference.columns = ['CustomerID', 'MostFrequentCategory']

# Merge all customer features into a single dataframe
customer_features = total_spend.merge(purchase_frequency, on='CustomerID') \
                               .merge(avg_transaction_value, on='CustomerID') \
                               .merge(last_purchase_date[['CustomerID', 'Recency']], on='CustomerID') \
                               .merge(category_preference, on='CustomerID')

# Check the resulting customer features dataframe
print(customer_features.head(20))

   CustomerID  TotalSpend  PurchaseFrequency  AvgTransactionValue  Recency  \
0       C0001     3354.52                  5           670.904000       86
1       C0002     1862.74                  4           465.685000       55
2       C0003     2725.38                  4           681.345000      156
3       C0004     5354.88                  8           669.360000       35
4       C0005     2034.24                  3           678.080000       84
5       C0006     4227.57                  4          1056.892500      112
6       C0007     2579.82                  3           859.940000      155
7       C0008     4271.61                 10           427.161000       41
8       C0009      896.50                  3           298.833333      107
9       C0010     1717.55                  4           429.387500       72
10      C0011     3730.00                  5           746.000000       32
11      C0012     5231.26                  7           747.322857       33
12      C0013     6000.56                  7           857.222857       85
13      C0014      318.66                  1           318.660000      376
14      C0015     1157.48                  2           578.740000      128
15      C0016     3874.42                  5           774.884000       78
16      C0017     4753.82                  8           594.227500       56
17      C0018     4781.85                  5           956.370000      177
18      C0019     2185.82                  6           364.303333       80
19      C0020      922.41                  1           922.410000      363

   MostFrequentCategory
0           Electronics
1              Clothing
2            Home Decor
3                 Books
4           Electronics
5                 Books
6           Electronics
7            Home Decor
8              Clothing
9              Clothing
10                Books
11           Home Decor
12             Clothing
13           Home Decor
14                Books
15             Clothing
16                Books
17                Books
18                Books
19          Electronics

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

# Select relevant features for similarity calculation
features_for_similarity = customer_features[['TotalSpend', 'PurchaseFrequency', 'AvgTransactionValue', 'Recency']]

# Standardize the features before calculating similarity
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features_for_similarity)

# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(features_scaled)

# Check the similarity matrix (for debugging)
print(cosine_sim)

[[ 1.          0.72343725 -0.59491134 ...  0.21291206  0.44632711
   0.20897766]
 [ 0.72343725  1.          0.06116396 ...  0.78963967  0.94046717
  -0.45848786]
 [-0.59491134  0.06116396  1.         ...  0.64508498  0.37779674
  -0.60919341]
 ...
 [ 0.21291206  0.78963967  0.64508498 ...  1.          0.92222011
  -0.63171824]
 [ 0.44632711  0.94046717  0.37779674 ...  0.92222011  1.
  -0.69293012]
 [ 0.20897766 -0.45848786 -0.60919341 ... -0.63171824 -0.69293012
   1.        ]]

In [9]:
# Function to get top 3 most similar customers for each customer
def get_top_3_similar(customer_index, cosine_sim, customer_ids):
    similarities = cosine_sim[customer_index]
    # Exclude the customer itself, and get the top 3 most similar customers
    similar_indices = similarities.argsort()[::-1][1:4]  # Top 3 (excluding self)
    similar_scores = similarities[similar_indices]
    similar_customers = customer_ids[similar_indices]
    return list(zip(similar_customers, similar_scores))

# List of customer IDs (assuming they are in the 'CustomerID' column of customer_features)
customer_ids = customer_features['CustomerID'].values

# Generate recommendations for the first 20 customers (C0001 to C0020)
lookalike_map = {}

for idx in range(20):  # For customers C0001 to C0020
    customer_id = customer_ids[idx]
    top_3_similar = get_top_3_similar(idx, cosine_sim, customer_ids)
    lookalike_map[customer_id] = top_3_similar

# Check the lookalike map for the first customer (C0001)
print(lookalike_map['C0001'])

[('C0056', 0.9952849109863636), ('C0190', 0.9885977404822495), ('C0191', 0.9865537196652346)]

In [10]:
# Prepare the data for the CSV file
lookalike_list = []
for cust_id, similar_customers in lookalike_map.items():
    for similar_cust, score in similar_customers:
        lookalike_list.append([cust_id, similar_cust, score])

# Convert to DataFrame and save to CSV
lookalike_df = pd.DataFrame(lookalike_list, columns=['CustomerID', 'LookalikeID', 'SimilarityScore'])
lookalike_df.to_csv('Lookalike.csv', index=False)

print("Lookalike recommendations saved in Lookalike.csv")

Lookalike recommendations saved in Lookalike.csv